@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
.card {
  width: 90%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  border-radius: 10px;
  -webkit-box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
          box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  background-color: #fff;
  padding: 10px;
  margin-bottom: 1rem;
  cursor: pointer;
}

.card__color {
  width: 100%;
  height: 10px;
  background-color: #008cff;
  border-radius: 10px;
}

.card__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.date {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  padding: 6px;
  border: 2px solid #008cff;
  border-radius: 5px;
}

.tag_div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tag {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 6px;
  border-radius: 50px;
  border: 2px solid #ff0000;
  background-color: #fec2c2;
  margin-bottom: 10px;
  color: #ff0000;
  margin-right: 5px;
  font-weight: 700;
}

.form_modal {
  width: 400px;
  background-color: #f9f9f9;
  height: 50vh;
  position: absolute;
  border-radius: 20px;
  -webkit-box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
          box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  visibility: hidden;
}

.form_modal form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 90%;
  height: 60%;
}

.form_modal form input[type="text"] {
  width: 90%;
  padding: 10px 18px;
  margin: 8px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  border: 2px solid #ccc;
  outline: none;
}

.form_modal form input[type="text"]:focus {
  border: 2px solid #0d96b1;
}

.form_modal form input[type="color"] {
  margin-right: 4rem;
}

.form_modal form input[type="date"] {
  height: 30px;
}

.form_modal form button {
  background-color: #008cff;
  width: 90%;
  border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
}

.form_modal form button:hover {
  background-color: #006cc4;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  background-color: #eeeeee;
}

.container {
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.left_container, .right_container {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.left_container h1, .right_container h1 {
  margin: 7%;
}

.divider {
  height: 100%;
  width: 2px;
  background-color: #a1a1a1;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.task_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.task_header button {
  margin-right: 5%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.tasks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0;
  width: 86%;
  overflow: scroll;
  margin-left: 7%;
}

.btn {
  background-color: #008cff;
  border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
}

.btn:hover {
  background-color: #006cc4;
}

.cardContainer {
  height: 100%;
}
/*# sourceMappingURL=style.css.map */